<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>borderbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,59}}</string>
                <key>sourceSize</key>
                <string>{160,59}</string>
            </dict>
            <key>bordertop.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,59}}</string>
                <key>sourceSize</key>
                <string>{160,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crappyturdssprites.png</string>
            <key>size</key>
            <string>{326,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00ef6fcfa2c3288cfd9dc560d418a28b:193e4264e08a3a0ddafae92efa2306db:ca5c767baf2c6b50f35b3868c3faef32$</string>
            <key>textureFileName</key>
            <string>crappyturdssprites.png</string>
        </dict>
    </dict>
</plist>
